<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body> 
    <header>
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for ('home')}}">Home</a></li>
            <li><a href="{{url_for ('check')}}">Spam_checker</a></li>
            
            <li><a href="{{url_for ('about')}}">About</a></li>
            
        </ul>
    </nav>
</header>
<div class="showcase">

    <div id="logo">
       <img src="{{ url_for('static', filename='ml_logo.jpg') }}" alt="">
       </div>
    <div id="head">
        <h1> Machine Learning Project </h1>
    </div>
    
</div>


    
    {% block content %}
        
    {% endblock content %}
    
</body>
    
</html>